<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
const counterstore = useCounterStore();
</script>
<template>
  <div>First Component</div>
  <div>{{ counterstore.count }}</div>
  <v-btn @click="counterstore.increment">INCREMENT</v-btn>
</template>
